.headerLogoCol {
    /* relatively smallest pixel width before column squishes on itself */
    min-width: 375px;
}

.navButtonArrayCol {
    /* relatively smallest pixel width before column squishes on itself */
    min-width: 208px;
}

.blockheadsImageButton{
    background-color: transparent;
    opacity: 1;
    outline: none;
    border: none;
}

.navButton {
    font-size: 18px;
    padding: 3px 4px 3px 3px;
    margin-right: 6px;
}

.headerRow{
    align-items: center;
}
