.headerLogoCol {
    /* relatively smallest pixel width before column squishes on itself */
    min-width: 330px;
}

.blockheadsImageButton{
    background-color: transparent;
    opacity: 1;
    outline: none;
    border: none;
}

.headerRow{
    display: flex-nowrap;
    align-items: center;
}
