.horizontalRule{
    width: 75%;
    height: 1px;
    margin-left: auto;        
    margin-right: auto;
    background-color: #000000;
    opacity: 100;
}
.contactInfoCol{
    min-width: 165px !important;
    max-width: 175px;
    justify-content: start;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.emailSpan {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding-left: 2px;
    margin-right: -2px;
}

.copyright{
    text-align: center;
    font-size: xx-small;
}

.linkedinButton{
    height: 20px;
    padding: 0%;
    background-color: transparent;
    opacity: 1;
    outline: none;
    border: none;
}