.horizontalRule{
    width: 75%;
    height: 1px;
    margin-left: auto;        
    margin-right: auto;
    background-color: #000000;
    opacity: 100;
}
.contactInfoCol{
    min-width: 165px !important;
    max-width: 175px;
    justify-content: start;
}

.copyright{
    text-align: center;
    font-size: xx-small;
}

.linkedinButton{
    height: 20px;
    padding: 0%;
    background-color: transparent;
    opacity: 1;
    outline: none;
    border: none;
}