.table-headers {
    background-color: orange !important;
    font-weight: normal !important;
    font-size: 22px;
}

.table-row {
    height: 42px;
}

.table-data {
    vertical-align: middle !important;
    font-size: 18px;
    background-color: orange !important;
}

.test {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
