.table-headers {
    background-color: orange !important;
    font-weight: normal !important;
    font-size: 22px;
}
.th_0 {
    width: 3%;
}
.th_1 {
    width: 15%;
}
.th_2 {
    width: 5%;
}
.th_5 {
    width: 6%;
}
.th_6 {
    width: 6%;
}
.th_7 {
    width: 8%;
}

.table-row {
    height: 42px;
}

.table-data {
    vertical-align: middle !important;
    font-size: 18px;
    background-color: orange !important;
}

.blockheadsImageButton {
    background-color: blue;
    opacity: 1 !important;
}
